<table style='margin: 0 auto'>
  <tbody>
    <tr>
      <td
        style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333333;font-size:15px;font-weight:400;line-height:1.4;padding:15px 5px"
        align='center'
      >
        <h1
          style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333333;font-size:18px;font-weight:400;line-height:1.4;margin:0;padding:0"
          align='center'
        >Hello, {{name}}!</h1>
        <p>
          Someone, hopefully you, has requested to reset the password for your account on
          {{account}}
          .
        </p>
        <p>
          If you did not perform this request, you can safely ignore this email.
        </p>
        <p>
          Otherwise, click the link below to complete the process.
        </p>
        <div>
          <a href='{{url}}' style='color:#3777b0;text-decoration:none' target='_blank'>Reset
            password</a>
        </div>

      </td>
    </tr>

  </tbody>
</table>